.o_gantt_cell_buttons {
    box-shadow: 0 1px 2px rgba(black, 0.2);
    @include o-gantt-zindex(interact);

    .o_gantt_cell_add,
    .o_gantt_cell_plan {
        background: $gray-300;
        width: 30px;
        height: 16px;
        cursor: pointer;

        &:first-child {
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border-bottom-right-radius: 4px;
        }
    }
}
