
.floor-map {
    .table {
        .appointment-infos {
            text-overflow: ellipsis;
            overflow: hidden;
            position: absolute;
            width: 100%;
            bottom: -30px;
            left: 0;
            font-size: 15px;
            text-align: center;

            span {
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}