<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="menu_finance_legal_statement"
                  name="Financial Reports Sage"
                  sequence="15"
                  parent="account.menu_finance_reports"/>

        <menuitem id="menu_finance_partner_reports"
                  name="Partner Reports Sage"
                  sequence="20"
                  parent="account.menu_finance_reports"/>

        <menuitem id="menu_finance_audit_reports"
                  name="Audit Reports Sage"
                  sequence="30"
                  parent="account.menu_finance_reports"/>

        <record id="account.account_reports_management_menu" model="ir.ui.menu">
            <field name="sequence" eval="40"/>
        </record>

    </data>
</odoo>

