.mx-edi-invoice-popup {
    select {
        padding: 4px;
        border-radius: 3px;
        margin: 4px;
        font-size: 15px;
        width: 100%;
    }

    .body {
        text-align: left;
    }

    .button.confirm {
        float: left;
        margin-left: 10px;
    }
}