.pinned_header {
    position: absolute;
    width: 100%;
    z-index: 999;
    height: 3.5rem;
}
.body_below_pinned_header {
    &.o_kanban_renderer,&.o_list_renderer {
        padding-top: 3.5rem;
    }
}
