
/* So that the displayed amount doesn't show in multiple line */
.pos .customer-button.partner-credit-limit-reached {
    background-color: #FFB347;
    border-color: #FFB347;
}
.pos .partner-line div.partner-due,
.pos .partner-list thead th.partner-due {
    white-space:nowrap;
    display:flex;
    flex-direction: column;
}

.pos .partner-line div.partner-due  i.fa {
    padding-left: 5px;
}

.pos .actionpad .button.partner-credit-limit-reached {
    background-color: #FFB347;
    border-color: #FFB347;
}

.screen .top-content .partner-credit-limit-reached {
    background-color: #FFB347;
    border-color: #FFB347;
    line-height: 32px;
    padding: 3px 13px;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

.payment-buttons > .partner-button .partner-due-balance-button {
    display: flex;
    align-items: center;
}

.payment-buttons .partner-button .partner-due-balance {
    display: flex;
    flex-direction: row;
}

.partner-line-balance .partner-credit-limit-reached {
    color: #FFB347;
}

.right-content .credit-limit-warning {
    background: #FFB347 !important;
    border-color: #FFB347 !important;
}
.pos .credit-summary-line {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.pos .credit-limit-summary {
    color: #E67700 !important;
}
.pos .partnerlist-screen .partner-detail {
    display:flex;
}
.pos .partnerlist-screen .partner-detail > .label {
    width: 100px;
}
.pos .partnerlist-screen .partner-detail > span:last-child {
    padding-left: 4px;
    display:block;
    border-radius: 3px;
    border: solid 1px #cecbcb;
    margin-bottom: 4px;
    background: #F1F1F1;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    color: #4A4F59;
    width: 340px;
    font-size: 14px;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .pos .partnerlist-screen .partner-detail > span:last-child {
        width: 100%;
    }
}
